*.[oa]
*.*
*[#]
*.kicad_pcb
*.zip
BreadBoards
OpAmps/BiasingSingleSallenKeyOp/BiasingSingleSallenKeyOp-backups/
!*.c
!*.h
!*.py
!*.json
!*.gitignore
!*.txt
!*.md
!*.kicad_sch
*_cap0805.kicad_sch
!OpAmps/BiasingSingleSallenKeyOp/
!DoneByCoffee/SSOP20toSOIC20/SSOPtoSOIC.kicad_pcb
!DoneByCoffee/SSOP20toSOIC20/SSOPtoSOIC.kicad_pro
f